In [1]:
#To print numbers from 1 to 5 using a while loop
number=1
while number<6:
    print(number)
    number+=1

1
2
3
4
5

In [2]:
#To calculate the sum of numbers from 1 to 10 using a while loop
number=1
sum=0
while number<11:
    sum=sum+number
    number+=1
    continue
print('The sum of numbers from 1 to 10 using a while loop is',sum)

The sum of numbers from 1 to 10 using a while loop is 55

In [3]:
#To calculate the factorial of a number using a for loop
n=input('Enter a number')
factorial=1
n=int(n)
print('Given number is',n)
if n < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif n == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,n + 1):
       factorial = factorial*i
print('The factorial of a number =',n,' using a for loop is',factorial)

Enter a number 5

Given number is 5
The factorial of a number = 5  using a for loop is 120

In [4]:
#To count the number of vowels in a string using a for loop
n=input('Enter a string')
vowels=['a','e','i','o','u',"A",'E','I','O','U']
count=0
for alphabet in n:
    if alphabet in vowels:
        count+=1
print('The number of vowels in the string ',n,' is ',count)

Enter a string I am happy

The number of vowels in the string  I am happy  is  3

In [5]:
#To print a pattern using nested loops
""" 
Given pattern is
0
*1
**2
***3
****4
"""
for i in range(5):
    for j in range(i + 1):
        if(j==i):
         print(i, end=" ")
        else:
         print("*", end=" ")
    print()

0
* 1
* * 2
* * * 3
* * * * 4

In [6]:
#To generate a multiplication table using nested loops
for i in range(0, 11):
    print('Multiplication table of',i)
    for j in range(0, 11):
        num = i * j
        print(i,' * ',j, ' = ',num)
    print()

Multiplication table of 0
0  *  0  =  0
0  *  1  =  0
0  *  2  =  0
0  *  3  =  0
0  *  4  =  0
0  *  5  =  0
0  *  6  =  0
0  *  7  =  0
0  *  8  =  0
0  *  9  =  0
0  *  10  =  0

Multiplication table of 1
1  *  0  =  0
1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
1  *  10  =  10

Multiplication table of 2
2  *  0  =  0
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

Multiplication table of 3
3  *  0  =  0
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30

Multiplication table of 4
4  *  0  =  0
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40

Multiplication table of 5
5  *  0  =  0
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

Multiplication table of 6
6  *  0  =  0
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60

Multiplication table of 7
7  *  0  =  0
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

Multiplication table of 8
8  *  0  =  0
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80

Multiplication table of 9
9  *  0  =  0
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

Multiplication table of 10
10  *  0  =  0
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100